body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 35px 0;
}
h1, h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
.nav-brand {
  margin-left: 37px;
}
.main {
  margin: 0 50px;
}
.book-card {
  max-height: 500px;
  /* white-space: nowrap;  */
  overflow: hidden;
  text-overflow: ellipsis; 
}
footer {
  margin-top: 50px;
  padding: 20px 0 0;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: lightgray;
  text-align: center;
}